[Unit]
Description=De Lift controller startup
# After=docker.service
# Requires=docker.service

[Service]
#TimeoutStartSec=0
ExecStart=/usr/local/bin/de_lift start
ExecStop=/usr/local/bin/de_lift stop
Type=forking
#ExecStart=/usr/bin/docker run --name busybox1 busybox /bin/sh -c "while true; do echo Hello World; sleep 1; done"

[Install]
WantedBy=multi-user.target