@charset=UTF8;

/*
Trollin stylesheet by ZipionLive for the HSBXL trolling page
*/
body {
background: url(/cgi-bin/sounds.sh?CSS=megusta.jpg);
background-size: 100%;
}

html
{
	font-family : Helvetica, Arial, Verdana, sans-serif; 
}
h1
{
	font-weight : bold;
	font-size : 24px;
	color : #CC0000;
}
form
{
	width : 450px;
	padding : 10px 0 5px 0;
	margin : 0 auto;
}
button.soundBtn
{
	width : 430px;
	min-height : 30px;
	margin : 0 10px 5px 10px
}
button.RANDOM
{
	background-color : #CC0000;
	width: 90%;
	margin: 10px 0px;
	color : white;
}
#sidebar
{
	position:fixed;
	left: 5px;
	padding: 10px;
	background: black;
	opacity: 0.8;
	top:60px;
	width: 20%;
	color: white;
}
#sidebar a
{
	color: white;
}
