@charset=UTF8;

/*
Trollin stylesheet by ZipionLive for the HSBXL trolling page
*/

html
{
	font-family : Helvetica, Arial, Verdana, sans-serif; 
}
h1
{
	font-weight : bold;
	font-size : 24px;
	color : #CC0000;
}
form
{
	width : 450px;
	padding : 10px 0 5px 0;
	margin : 0 auto;
}
button.soundBtn
{
	width : 430px;
	min-height : 30px;
	margin : 0 10px 5px 10px
}
button.RANDOM
{
	background-color : #CC0000;
	color : white;
}