@charset=UTF8;

/*
Trollin stylesheet by ZipionLive for the HSBXL trolling page
Heavily modified by Frederic Pasteleurs and Tom Behets
*/

html
{
	font-family : Helvetica, Arial, Verdana, sans-serif; 
}

body {
    height: 99%;
    width: 99%;
    background: url(/cgi-bin/sounds.sh?CSS=megusta.jpg) no-repeat center center fixed;
    background-size: 100%;
}

h1
{
	font-weight : bold;
	font-size : 24px;
	color : #CC0000;
	background: #48fb47;
	display: inline-block;
}
button.soundBtn
{
	width : 430px;
	min-height : 30px;
	margin : 0 10px 5px 10px
}
button.RANDOM
{
	background-color : #CC0000;
	width: 90%;
	margin: 10px 0px;
	color : white;
}
#sidebar
{
	position:fixed;
	left: 5px;
	padding: 10px;
	background: black;
	opacity: 0.8;
	top:15%;
	width: 20%;
	color: white;
}
#sidebar a
{
	color: white;
}
#header
{
    position:fixed;
    top: 10px;
    left: 5px;
}
#speechbar
{
    position: fixed;
    padding: 10px;
    top: 5%;
    left: 25%;
    right: 5%;
    width: 70%;
    opacity: 0.8;
    background: black;
    color: white;
}
#speechbar input[type="text"]
{
    width: 80%;
}

form 
{
	height: 95%;
	width: 95%;
}
#trollbody
{
	position: fixed;
	left: 25%;
	top: 15%;
	width: 75%;
	height: 85%;
	overflow-y: scroll;
}
